@model ChartsModel;
@{
    ViewData["Title"] = "India Coronavirus Tracker - AskGif";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .highcharts-container {
        width: 100% !important;
    }

    .highcharts-root {
        width: 100% !important;
    }

</style>
<div class="container">
    <br />
    <div class="row justify-content-center">
        <h3>INDIA COVID-19 TRACKER</h3>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="card text-white shadow-lg r-3 l-3 mb-5 bg-info rounded" style="width: 20rem;">
                <div class="card-header">
                    Total Confirmed :
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>@Model.statewise[0].confirmed</b> ( <i class="fa fa-arrow-circle-up"></i> @Model.statewise[0].delta.confirmed )</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card text-white shadow-lg r-3 l-3 mb-5 bg-primary rounded" style="width: 20rem;">
                <div class="card-header">
                    Total Active :
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>@Model.statewise[0].active</b> ( <i class="fa fa-arrow-circle-up"></i> @Model.statewise[0].delta.active )</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card text-white shadow-lg r-3 l-3 mb-5 bg-danger rounded" style="width: 20rem;">
                <div class="card-header">
                    Total Death :
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>@Model.statewise[0].deaths</b> ( <i class="fa fa-arrow-circle-up"></i> @Model.statewise[0].delta.deaths )</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card text-white shadow-lg r-3 l-3 mb-5 bg-success rounded" style="width: 20rem;">
                <div class="card-header">
                    Total Recovered :
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>@Model.statewise[0].recovered</b> ( <i class="fa fa-arrow-circle-up"></i> @Model.statewise[0].delta.recovered )</h5>
                </div>

            </div>
        </div>
    </div>

    
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
    

        <div class="row">

            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">State</th>
                        <th scope="col">Confirmed</th>
                        <th scope="col">Active</th>
                        <th scope="col">Recovered</th>
                        <th scope="col">Deaths</th>
                    </tr>

                    @{int i = 0;}
                    @foreach (var item in Model.statewise)
                    {
                        if (i != 0)
                        {
                    <tr>
                        <th scope="row">@i</th>
                        <td>
                            <b>@item.state</b>
                            
                             @if (item.delta.confirmed != 0)
                             {
                                 <i class="fa fa-arrow-circle-up" style="color:red"></i>
                                 @item.delta.confirmed
                             }
                            
                        </td>
                        <td><p class="text-info"><b>@item.confirmed</b></p> @*( <i class="fa fa-arrow-circle-up" style="color:red"></i> @item.delta.confirmed )*@</td>
                        <td><p class="text-primary"><b>@item.active</b></p> @*( @item.delta.active )*@</td>
                        <td><p class="text-success"><b>@item.recovered</b></p> @*( <i class="fa fa-arrow-circle-up" style="color:green"></i> @item.delta.recovered )*@</td>
                        <td><p class="text-danger"><b>@item.deaths</b></p> @*( <i class="fa fa-arrow-circle-up" style="color:red"></i> @item.delta.deaths )*@</td>
                    </tr>
                        }
                        i++;                        
                    }

                </thead>
                <tbody></tbody>
            </table>
</div>
</div>
<script>
    Highcharts.chart('container', {
        xAxis: {
            categories:  @Html.Raw(@Model.categoriesString)
        },
        title: {
            text: 'India Covid-19 Count'
        },
        series: @Html.Raw(@Model.allSeriesString)
    });
    
    (function () {
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-118778979-1', 'auto', { 'cookieDomain': 'none' });
        ga('require', 'displayfeatures');
        ga('send', 'pageview', { 'page': '/Covid-19-Tracker' });
    })();
</script>